@import '../styles/signin.scss';
@import '../styles/slide-menu.scss';
 

body{
    margin: 0px;
    font-family: sans-serif;
}

button{
    background-color: #0000;
    border: none;
}

@media(min-width:768px){

}

@media(min-width:1024px){

}